<!DOCTYPE html>

<html lang="en" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <title>custom.css : /home/titanconnect/titanconnect/static/custom.css : Editor : titanconnect : PythonAnywhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="custom.css : /home/titanconnect/titanconnect/static/custom.css : Editor : titanconnect : PythonAnywhere">
        <meta name="author" content="PythonAnywhere LLP">
        <meta name="google-site-verification" content="O4UxDrfcHjC44jybs2vajc1GgRkTKCTRgVzeV6I9V14" />


        <!-- Le styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" />

        <link rel="stylesheet" href="/static/CACHE/css/e231cf912450.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/CACHE/css/a5c0829f431b.css" type="text/css" /><link rel="stylesheet" href="/static/CACHE/css/d35c50144af5.css" type="text/css" media="screen" />

        <!-- Le javascript -->
        <script type="text/javascript">
            var Anywhere = {};
            Anywhere.urls = {};
            Anywhere.csrfToken = "bIKPOL56IzcNpt8jZp4yy5wtOadEpEtIPCVBd9z9anZATSur2bXE83v5Pr8GBOVO";
        </script>
        <script type="text/javascript" src="/static/CACHE/js/efd0f9224b4c.js"></script>
        

        <script type="text/javascript" src="/static/CACHE/js/67a0ddd914e8.js"></script>
        
    <script type="text/javascript">
      $(document).ready(function() {
        $.extend(Anywhere.urls, {
          file: "/user/titanconnect/files/home/titanconnect/titanconnect/static/custom.css",
          check_hash: "/user/titanconnect/files/home/titanconnect/titanconnect/static/custom.css",
          update_editor_mode_preference: "/user/titanconnect/account/update_editor_mode_preference",
          console_api: "/api/v0/user/titanconnect/consoles/",
        });
        var filename = "/home/titanconnect/titanconnect/static/custom.css";
        var hash = "a0c6f059569e293eb759fd74f5610ac8";
        var interpreter = "None";

        
            Anywhere.Editor.InitializeAce(ace, Anywhere.urls, filename, hash, interpreter, "pythonanywhere.com");
            $("#id_keybinding_mode_select").val("normal");
            $("#id_keybinding_mode_select").trigger("change");
        
        var consoleVisible = false;
        Anywhere.Editor.splitPanes(consoleVisible);

        Anywhere.WebAppControl.initialize();
        Anywhere2.initializeFileSharingOptions(
          $('#id_file_sharing_options')[0],
          {
            url: "/api/v0/user/titanconnect/files/sharing/",
            csrfToken: "bIKPOL56IzcNpt8jZp4yy5wtOadEpEtIPCVBd9z9anZATSur2bXE83v5Pr8GBOVO",
            path: "/home/titanconnect/titanconnect/static/custom.css"
          }
        );

      });
    </script>

        

    </head>

     <body style="height:100%;">
       <div style="min-height: 100%; position: relative;">
        
        
  




  <nav class="navbar navbar-default fullscreen-main-navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img id="id_logo" src="/static/anywhere/images/PA-logo-snake-only.svg" height="100%" />
      </a>
    </div>

    <div class="extra-nav-content">
      

  <div id="id_editor_toolbar">

    <div class="pull-left">
      <span id="id_breadcrumbs_div"><a class="breadcrumbs_link breadcrumb_entry" href="/user/titanconnect/files/">/</a><a class="breadcrumbs_link breadcrumb_entry" href="/user/titanconnect/files/home">home</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/titanconnect/files/home/titanconnect">titanconnect</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/titanconnect/files/home/titanconnect/titanconnect">titanconnect</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/titanconnect/files/home/titanconnect/titanconnect/static">static</a><span class="breadcrumb_entry">/</span><wbr><span class="breadcrumb_entry breadcrumb_terminal">custom.css</span></span>

      <span>
        <span id="id_unsaved_changes_spacer">
          <span id="id_unsaved_changes" class="pa_hidden muted">(unsaved changes)</span>
        </span>
      </span>
    </div>

    <div id="id_editor_messages" class="pull-left">
      

    </div>

    <div class="pull-right">
      <div id="id_editor_buttons_right" class="form-inline">
        <span id="id_save_error" class="pa_hidden alert alert-danger">Error saving.</span>
        <img src="/static/anywhere/images/spinner-small.gif" class="pa_hidden" id="id_save_spinner" />
        
          <span id="id_keyboard_shortcuts"><a href="#">Keyboard shortcuts:</a></span>
          <select id="id_keybinding_mode_select" class="form-control input-sm">
            <option value="normal">Normal</option>
            <option value="vim">Vim</option>
          </select>
        
        <button id="id_display_sharing_options" class="btn btn-default" data-toggle="modal" data-target="#id_file_sharing_modal" title="Get a URL to share this file">
          <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
          Share
        </button>
        
          <button id="id_save" class="btn btn-success" title="Save (Ctrl + S)">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Save
          </button>
          <button id="id_save_as" class="btn btn-default" title="Save As">Save as...</button>
        
        

        
          
            <form class="reload_web_app" style="display: flex" method="POST" action="/user/titanconnect/webapps/titanconnect.pythonanywhere.com/reload">
              <button class="btn btn-default" type="submit" title="Reload titanconnect.pythonanywhere.com">
                <i class="glyphicon glyphicon-refresh"></i>
              </button>
              <img style="display: none;" class="spinner" src="/static/anywhere/images/spinner-small.gif" />
              <div style="display: none; clear: both;" class="alert alert-danger error_message generic_error">
                There was a problem. If this keeps happening, please <a href="" class="feedback_link">send us feedback</a>.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message slow_startup_error">
                Your webapp took a long time to reload. It probably reloaded, but we were unable to check it.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message virtualenv_error">
                There is a problem with your virtualenv setup. Look at the <b>virtualenv</b> section on the web app tab for details.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message cname_error">
                There is a problem with your DNS configuration. Take a look at the <b>DNS setup</b> section on the web app tab for details.
              </div>
            </form>
          
        
      </div>
    </div>

  </div>


    </div>

    <div class="dropdown fullscreen-hamburger fullscreen-mini-nav">
      <button type="button" class="navbar-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        
  <li class=""><a id="id_dashboard_link" href="/user/titanconnect/">Dashboard</a></li>
  <li class=""><a id="id_consoles_link" href="/user/titanconnect/consoles/">Consoles</a></li>
  <li class=""><a id="id_files_link" href="/user/titanconnect/files/home/titanconnect">Files</a></li>
  <li class=""><a id="id_web_app_link" href="/user/titanconnect/webapps/">Web</a></li>
  <li class=""><a id="id_tasks_link" href="/user/titanconnect/tasks_tab/">Tasks</a></li>
  <li class=""><a id="id_databases_link" href="/user/titanconnect/databases/">Databases</a></li>


        <li class=""><a href="" class="feedback_link">Send feedback</a></li>
<li class=""><a href="/forums/" class="forums_link">Forums</a></li>
<li class=""><a href="https://help.pythonanywhere.com/" class="help_link">Help</a></li>
<li class=""><a href="https://blog.pythonanywhere.com/" class="blog_link">Blog</a></li>

  
  <li class=""><a href="/user/titanconnect/account/" class="account_link">Account</a></li>
  <li class="">
    <form action="/logout/" method="POST">
      <input type='hidden' name='csrfmiddlewaretoken' value='bIKPOL56IzcNpt8jZp4yy5wtOadEpEtIPCVBd9z9anZATSur2bXE83v5Pr8GBOVO' />
      <button type="submit" class="btn-link logout_link">Log out</button>
    </form>
  </li>


      </ul>
    </div>

  </nav>



        
    


        
  <div>
    <div id="id_ide_split_panes">

      
        <div id="id_editor">/*------------------------------------------------------------------
[Table of contents]

#index.html - HOME PAGE
1. General
2. Footer
3. Header
3.1. Avatar
4. Content
4.1. Pagination
4.2. Sidebar
4.3. Post

#post.html - TOPIC
5. Breadcrumb
6. Topic
7. Quote post


newpost.html - NEW TOPIC


-------------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*--- General ---*/

p.c {
  white-space: pre;
}

body {
    font-family: &#39;Open Sans Light&#39;, sans-serif;
    font-size: 14px;
    color: #989c9e;
}

a {
    color: #363838;
}
a:hover {
    color: #989c9e;
}

/*-----------------------------------------------------------------*/
/*--- Footer ---*/

footer {
    height: 69px;
    line-height: 69px;
    color: #363838;
}

footer .logo {
    line-height: normal;
}


ul.socialicons li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    color:#bdc3c7;
    margin-left: 15px;
}

ul.socialicons li a {
    color:#bdc3c7;
}

ul.socialicons li a:hover {
    color:#363838;

}


/*-----------------------------------------------------------------*/
/*--- Header ---*/
.headernav {
    height: 70px;
    border-bottom: 1px solid #c9cccd;
}


.content {
    background-color: #ecf0f1;
    border-top: solid 1px #e0e4e5;
}

.selecttopic {
    line-height: 69px;
    font-family: &#39;Open Sans Semibold&#39;, sans-serif;
    font-size: 16px;
    color: #363838;
}

.selecttopic select {
    border: none;
}

.selecttopic .dropdown-menu {
    margin-top: -20px;
}

.headernav .search {
    color: #363838;
    font-size: 14px;
    font-family: &#39;Open Sans Light&#39;, sans-serif;
    margin-top: 16px;
    height: 38px
}

.headernav .search  .wrap {
    background-color: #f3f5f9;
    border-radius: 3px;
}

.headernav .search .txt {
    width: 85%;
}

.headernav .search input {
    border: none;
    box-shadow: none;
    background-color: #f3f5f9;
    color: #363838;
    font-size: 14px;
    padding: 8px 19px;
    height: 38px;

}


.headernav .search button {
    border: solid 1px #697683;
    box-shadow: none;
    background-color: #697683;
    color: #ffffff;
    font-size: 18px;
}

/*--- Avatar ---*/
.avt {
    margin-top: 16px;
    height: 38px;
}

.avt button {
    height: 38px;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 14px;
    font-family: &#39;Open Sans Bold&#39;, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1abc9c;
}

.avt .btn-primary:hover,
.avt .btn-primary:focus,
.avt .btn-primary:active,
.avt .btn-primary.active{
    background-color: #1abc9c;


    border: none;
    box-shadow: none;

}

.env {
    font-size: 18px;
    color:#cfd5d7;
    line-height: 38px;
    padding: 0 20px;
}

.avatar {
    position: relative;
}

.avatar img {
    border-radius: 50%;
}

.avatar .status {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 50%;
    border: solid 2px #ffffff;
}

.dropdown.avatar .status {
    right: 14px;
}
.caretl {
    color:#363838;
    font-size: 14px;
    line-height: 38px;
    padding: 0 15px;
}


.avatar .green {
    background-color: #80d3ab;
}

.avatar .red {
    background-color: #f27777;
}

.avatar .yellow {
    background-color: #ecd346;
}



/*-----------------------------------------------------------------*/
/*--- Content ---*/

/*--- Pagination ---*/
.paginationforum li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.paginationforum li a {
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    font-family: &#39;Open Sans Semibold&#39;, sans-serif;
    color: #ffffff;
    background-color: #cfd5d7;
    border-radius: 2px;
    display: block;
    padding: 0 8px;
    line-height: 24px;
}

.paginationforum li a.active,
.paginationforum li a:hover,
.paginationforum li a:focus,
.paginationforum li a:active {
    color: #363838;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #c9cccd;
    font-family: &#39;Open Sans Bold&#39;, sans-serif;
    text-decoration: none;

}



.paginationforum {
    margin: 19px auto;
    padding: 0;
}

.prevnext {
    font-size: 26px;
    color: #cfd5d7;
    margin-top: 11px;
    display: block;
}

.prevnext.last {
    margin-left: 20px;
}


/*--- Sidebar ---*/

.sidebarblock {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.sidebarblock h3 {
    color: #363838;
    font-size: 14px;
    font-family: &#39;Open Sans Bold&#39;, sans-serif;
    margin: 0;
    padding: 20px;


}

.sidebarblock .divline {
    height: 1px;
    line-height: 1px;
    border-bottom: solid 1px #f1f1f1;
}

.sidebarblock .blocktxt {
    padding:20px;
}

ul.cats li {
    list-style: none;
    display: block;
    margin:0;
    padding:0;
    line-height: 30px;
}

ul.cats {
    margin: 0;
    padding: 0;
}

ul.cats li a {
    font-size: 14px;
    color: #363838;
    font-family: &#39;Open Sans Light&#39;, sans-serif;
    line-height: 30px;
}

ul.cats .badge {
    background-color: #bdc3c7;
    font-size: 12px;
    color: #ffffff;
    font-family: &#39;Open Sans Bold&#39;, sans-serif;
    margin-top: 7px;
}


.sidebarblock .blocktxt {

    font-size: 14px;
    color: #363838;
    font-family: &#39;Open Sans Light&#39;, sans-serif;

}


.sidebarblock .blocktxt .smal {
    font-size: 12px;
}

.chbox {
    width: 50px;
}

table.poll {
    width: 100%;
}

.progress-bar.color1 {
    background-color: #9b59b6;
}

.progress-bar.color2 {
    background-color: #3498db;
}

.progress-bar.color3 {
    background-color: #e67e22;
}

.progress-bar {
    font-size: 14px;
    color: #ffffff;
    font-family: &#39;Open Sans Bold&#39;, sans-serif;
    line-height: 31px;
    text-align: left;
    padding-left: 10px;
    box-shadow: none;
}


.progress {
    background-color: #ecf0f1;
    height: 31px;
    border-radius: 2px;
    box-shadow: none;
}



.poll label {
    margin-bottom: 0;
    margin-left: 20px;
}

.poll input[type=&quot;radio&quot;] {
    display:none;
}

.poll input[type=&quot;radio&quot;] + label {
    display:inline-block;
    width:31px;
    height:31px;
    background: url(../images/radio.jpg) 0 0 no-repeat;
    vertical-align:middle;
    cursor:pointer;
}

.poll input[type=&quot;radio&quot;]:checked + label {
    background: url(../images/radio.jpg) -31px 0 no-repeat;
}

td.chbox {
    vertical-align: top;
}


/*--- Post --*/
.post {
    background-color: #ffffff;

    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.post .wrap-ut {
    width: 85%;
}

.post .userinfo {
    width: 15%;
    padding: 20px 0 15px 15px;
}

.post .posttext {
    width: 85%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;

    color: #989c9e;
    font-size: 14px;
    font-family: &#39;Open Sans Light&#39;, sans-serif;
    line-height: 25px;
}

.post .postinfo {
    width: 15%;
    border-left: solid 1px #f1f1f1;


}

.post .avatar {
    width: 37px;
    margin-left: 5px;
}

.post .icons {
    width: 48px;
    border-top: solid 1px #f1f1f1;
    margin-top: 12px;
    padding-top: 7px;
}

.post h2 {
    color: #363838;
    font-size: 18px;
    font-family: &#39;Open Sans&#39;, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post .comments {
    border-bottom: solid 1px #f1f1f1;
    padding: 18px 0 25px 0;
    text-align: center;
}


.post .comments .commentbg {
    background-color: #bdc3c7;
    border-radius: 2px;
    display: inline-block;
    padding: 12px 17px;
    color: #ffffff;
    font-size: 14px;
    font-family: &#39;Open Sans Bold&#39;, sans-serif;
    position: relative;
}

.post .comments .commentbg .mark {
    width: 11px;
    height: 11px;
    background-color: #bdc3c7;
    position: absolute;
    bottom: 0;
    left: 43%;
    margin-bottom: -5px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

.post .views {
    border-bottom: solid 1px #f1f1f1;
    color:#9da6aa;
    font-size: 12px;
    font-family: &#39;Open Sans Regular&#39;, sans-serif;
    text-align: center;
    line-height: 29px;
}

.post .views i {
    font-size: 14px;
}

.post .time {
    color:#9da6aa;
    font-size: 12px;
    font-family: &#39;Open Sans Regular&#39;, sans-serif;
    text-align: center;
    line-height: 29px;

}

.post .time i {
    font-size: 14px;
}







/*-----------------------------------------------------------------*/
/* post - TOPIC */

/*--- Breadcrumb ---*/
.breadcrumbf a , .breadcrumbf {
    color: #bdc3c7;
    font-size: 12px;
    font-family: &#39;Open Sans Regular&#39;, sans-serif;
    line-height: 62px;
}

.breadcrumbf a:hover {
    text-decoration: underline;
}

/*--- Topic ---*/
.topic .userinfo {
    width: 12%;
}

.topic .posttext {
    width: 88%;
}

.postinfobot {
    border-top: solid 1px #f1f1f1;
    line-height: 50px;
    padding: 0 30px 0 94px;
}


.postinfobot .likeblock {
    width: 120px;
}

.postinfobot .prev {
    width: 30px;
}

.postinfobot .prev a {
    font-size: 18px;
    color: #bdc3c7;
}

.postinfobot .posted {
    width: 300px;
    margin-left: 18px;
    font-size: 12px;
    color: #bdc3c7;
    font-family: &#39;Open Sans Regular&#39;, sans-serif;
}

.postinfobot .posted i {
    font-size: 18px;
    color: #bdc3c7;
    padding-right: 8px;
}

.postinfobot .next {
    width: 90px;
    text-align: right;
}

.postinfobot .next a {
    font-size: 18px;
    color: #bdc3c7;
}

.postinfobot .next a i {
    padding-right: 18px;
}

.up {
    color: #1abc9c;
    font-size: 12px;
}

.up i,
.down i {
    font-size: 20px;
    padding-right: 10px;
}

.down {
    color: #db7a7a;
    font-size: 12px;
    margin-left: 20px;
}

a.up:hover {
    text-decoration: none;
    color: #1de4bd;
}

a.down:hover {
    text-decoration: none;
    color: #f48989;
}

.beforepagination {
    margin-bottom: 0;
}


/*--- Quote post ---*/
.post blockquote {
    border: solid 1px #f1f1f1;
    border-radius: 2px;
    font-size: 14px;
    padding: 18px;
}

.post blockquote .original,
.postreply {
    font-size: 12px;
    color: #bdc3c7;
    display: block;
    font-family: &#39;Open Sans Regular&#39;, sans-serif;
}

.textwraper textarea {
    border: none;
    box-shadow: none;
    background-color: #f1f1f1;
    /*    width: 610px;*/
    width: 100%;
}

.textwraper {
    background-color: #f1f1f1;
    border-radius: 2px;
    padding:18px;
}

.notechbox {
    width: 20px;
}

.notechbox input {
    width: 12px;
    box-shadow: none;
    margin-top: 8px;
    border-color: #bdc3c7;
}

.notechbox input:active,
.notechbox input:focus,
.notechbox input:hover {
    box-shadow: none;
}

.postinfobot label {
    color: #bdc3c7;
    font-size: 12px;
    font-family: &#39;Open Sans Regular&#39;, sans-serif;

}


.smile a {
    margin-right: 20px;
    font-size: 20px;
    color: #bdc3c7;
}



.btn-primary {
    background-color: #1abc9c;
    box-shadow: none;
    border-radius: 2px;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 14px;
    font-family: &#39;Open Sans Bold&#39;, sans-serif;
    border: none;

}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    border: none;
    background-color: #20e1bb;
    box-shadow: none;
}


.rating {
  display: inline-block;
  width: 150%;
  margin-top: 0x;
  padding-top: 0px;
  text-align: center;
}

.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.dislike:hover,
.like:hover {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.active {
  color: #2EBDD1;
}







/*-----------------------------------------------------------------*/
/*--- #/newpost.html - NEW TOPIC ---*/

.newtopic input[type=text],
.newtopic input
{
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #989c9e;
    font-family: &#39;Open Sans Light&#39;, sans-serif;
    margin-bottom: 20px;
    height: 50px;
}

.newtopic select {
    border-radius: 2px;
    box-shadow: none;
    border: solid 1px #cfd5d7;
    background-color: #ffffff;

    font-size: 14px;
    color: #989c9e;
    font-family: &#39;Open Sans Light&#39;, sans-serif;
    margin-bottom: 20px;
    height: 50px;
}

.newtopic select:hover,
.newtopic select:focus,
.newtopic select:active {
    box-shadow: none;
}


.newtopic textarea {
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #989c9e;
    font-family: &#39;Open Sans Light&#39;, sans-serif;
    margin-bottom: 20px;
    height: 150px;
}

.newtopic textarea:hover,
.newtopic textarea:focus,
.newtopic textarea:active {
    box-shadow: none;
}

.newtopic p {
    font-size: 14px;
    color: #363838;
    font-family: &#39;Open Sans Light&#39;, sans-serif;
}


.newtopcheckbox input {
    margin-top: 5px;
    width: 18px;
    height: 18px;

    /*    width: 18px;
        box-shadow: none;
        margin-top: 8px;
        border-color: #bdc3c7;*/

}

.checkbox input {
    margin-right: 7px;
}



.loading {
    text-align: right;
}

.similarposts {
    /*    height: 57px;*/
    margin-bottom: 20px;

}

.similarposts p {
    display: inline;
    color: #bdc3c7;
}
.similarposts p span {
    color: #363838;
}

.similarposts .fa-info-circle {
    font-size: 18px;
    color: #3498db;
    margin-right: 10px;
}

.similarposts .fa-spinner {
    font-size: 18px;
    color: #363838;
}

.postinfotop h2 {
    color: #363838;
    font-size: 14px;
    font-family: &#39;Open Sans Bold&#39;, sans-serif;
    padding: 20px;
    margin: 0;
    border-bottom: solid 1px #f1f1f1;
}







</div>
      

      <div id="id_ide_console">
        
          <div id="id_ide_console_pane_buttons">
            <center>
              
                <p>This is not a Python file, you can't run it here.</p>
              
            </center>
          </div>
          <iframe style="display: none" id="id_console" name="console" class="soft_keyboard_sensitive">
          </iframe>
          <div style="display: none;" class="console_limit_reached">
            <div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3 well">
            <h1>Console limit reached :-/</h1>

            <p>
            With your current PythonAnywhere account you can have up to
            2 consoles.  You can
            have more if you
            <a href="/user/titanconnect/account/">upgrade your account</a>!

            <p>
            Alternatively, if you don't feel like paying us more money, you
            can <a href="/user/titanconnect/consoles/">kill some consoles on your Consoles page</a>.
        </div>
    </div>
</div>


          </div>
        
      </div>

    </div>

    <div id="id_go_to_line_dialog" class="pa_hidden">
      <p class="form-inline">Line number: <input id="id_go_to_line_dialog_input" /></p>
      <div class="dialog_buttons">
        <button class="btn btn-default" id="id_go_to_line_dialog_ok_button">Go</button>
        <button class="btn btn-default" id="id_go_to_line_dialog_close_button">Close</button>
      </div>
    </div>

    <div id="id_file_changed_on_disk" class="pa_hidden">
      <p>Are you sure you want to save it?  Alternatively, you could re-open it in a new tab to check differences</p>
      <div class="dialog_buttons">
        <button id="id_force_save" class="btn btn-danger">Force Save</button>
        <button id="id_cancel_save" class="btn btn-default">Cancel</button>
      </div>
    </div>

    <div id="id_save_as_dialog" class="pa_hidden">
      <form class="form-inline">
        <div class="form-group">
          <label for="id_save_as_path">Please enter a path:</label>
          <input id="id_save_as_path" class="form-control" style="width: 100%;" />
        </div>
        <img id="id_save_as_spinner" class="spinner pa_hidden" src="/static/anywhere/images/spinner-small.gif" />
        <p>
          <span id="id_save_as_error" class="error_message"></span>
        </p>
        <div class="dialog_buttons">
          <button id="id_save_as_ok" type="submit" class="btn btn-primary">Save</button>
          <button id="id_save_as_cancel" type="button" class="btn btn-default">Cancel</button>
        </div>
      </form>
    </div>

    <div class="modal fade" id="id_file_sharing_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">File Sharing options</h4>
          </div>
          <div class="modal-body">
            <div id="id_file_sharing_options"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>


        
      </div>

        


        <div id="id_feedback_dialog" title="Help us improve" style="display:none">
    <div id="id_feedback_dialog_blurb_big" class="dialog_blurb_big">
        It's always a pleasure to hear from you!
    </div>
    <div id="id_feedback_dialog_blurb_small">
        Ask us a question, or tell us what you love or hate about PythonAnywhere.<br/>
        We'll get back to you over email ASAP.
    </div>
    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text" placeholder="Email address (optional - only necessary if you would like us to contact you)"/>
    
    <div id="id_feedback_dialog_error" class="pa_hidden">
        Sorry, there was an error connecting to the server. <br/>Please try again in a few moments...
    </div>
    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="/static/anywhere/images/spinner-small.gif" />
        <button class="btn btn-primary" id="id_feedback_dialog_ok_button">OK</button>
        <button class="btn btn-default" id="id_feedback_dialog_cancel_button">Cancel</button>
    </div>
</div>


        
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-18014859-6', 'auto');
                ga('send', 'pageview');
            </script>
        

        
        <!-- preload font awesome fonts to avoid glitch when switching icons -->
        <div style="width: 0; height: 0; overflow: hidden"><i class="fa fa-square-o fa-3x" ></i></div>
    </body>
</html>
