{% extends "base.html" %}
{% block content %}

        <div class="container-fluid">

           <!--page number slide links here EX: 1 2 3 4 5 6 ..-->

                <div class="headernav">
                 <div class="container">

                    <div class="row">

                        <!--<div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href=""><img src="" alt=""  /></a></div>-->

                        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">

                            <div class="dropdown">
                                <!--<a data-toggle="dropdown" href="#" >My Courses</a> <b class="caret"></b>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Math 270</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="#">CPSC 121</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="#">English 101</a></li>

                                </ul>-->
                        <br>
                            </div>
                        </div>


                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">

                            <div class="wrap">

                                <form action="/forum.html" method="post" class="form">

                                    <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search" name="search" required></div>
                                    <div class="pull-right"><button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button></div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                            <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left">
                               <!--<li class="active"><a href="newpost.html">-->
                                <li class="active"><a href="newpost">
                                    <button class="btn btn-primary">Create Post</a></button>
                                </li>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

                     <section class="content">
                        <div class="container">
                        <div class="row">
                        <div class="col-lg-8 breadcrumbf">
                        <br>
                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">

             <!--{% autoescape false %}-->
                  {% for item in data %}
                            <!-- POST -->
                            <div class="post">
                                <div class="wrap-ut pull-left">
                                    <div class="userinfo pull-left">
                                         <!--<div class="avatar">
                                            <img src="images/avatar.jpg"  alt="" />
                                            <br><br>

                                        </div>-->


                                    </div>
                                    <div class="posttext pull-left">
                                        <h2><a href="http://titanconnect.pythonanywhere.com/post/{{item[3]}}">{{item[1]}}</a></h2>
                                        <!--<pre><p>{{item[2]}}</p></pre>-->
                                        <p class="c">{{item[2]}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="postinfo pull-left">
                                    <div class="comments">
                                        <div class="commentbg">
                                            {{item[6]}}
                                            <div class="mark"></div>
                                        </div>

                                    </div>
                                    <!--<div class="views"><i class="fa fa-eye"></i> 65 views</div>-->
                                    {% set list = item[0].split('@') %}
                                    <!--<div class="views"><i class="fa fa-eye"></i> {{item[0]}}</div>-->
                                    <div class="views"><i class="fa fa-eye"></i> {{ item[5] }}</div>
                                </div>

                               <div class="postinfobot">


                                    <div class="prev pull-left"></div>
                                    <div class="posted pull-left"> Posted by: {{list[0]}}</div>


                                    <div class="next pull-right"></div>
                                        <div class="likeblock pull-left">
                                                <div class = "rating">
                                                     <div class="like grow"><i class="fa fa-thumbs-up fa-1x like" aria-hidden="true"></i></div>
                                                     <div class="dislike grow"><i class="fa fa-thumbs-down fa-1x like" aria-hidden="true"></i></div>
                                                </div>
                                        </div>
                                     </div>


                               <!-- <div class="rating">

                                      <div class="like grow">
                                        <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true"></i>
                                      </div>

                                      <div class="dislike grow">
                                        <i class="fa fa-thumbs-down fa-3x like" aria-hidden="true"></i>
                                      </div>
                                </div>-->

                                <div class="clearfix"></div>
                            </div>
                            <!-- POST -->
                    {% endfor %}
            <!--{% endautoescape %}-->


                         </div>
                        <div class="col-lg-4 col-md-4">

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>-</h3>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <ul class="cats">
                                        <!--<li><a href="#">ACM Club Events <span class="badge pull-right">10</span></a></li>
                                        <li><a href="#">Job Fair<span class="badge pull-right">40</span></a></li>
                                        <li><a href="#">Math tutors needed <span class="badge pull-right">36</span></a></li>
                                        <li><a href="#">CPSC 471<span class="badge pull-right">10</span></a></li>-->
                                    </ul>
                                </div>
                            </div>




                            <!-- -->
                            	{% if session['user'] %}

                            <div class="sidebarblock">
                                <h3>My Recent Posts</h3>
                                    {% for item in recentPosts %}
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <a href="http://titanconnect.pythonanywhere.com/post/{{item[3]}}">{{item[1]}}</a>
                                </div>


                                    	{% endfor %}
                            	{% endif %}
                                </div>
                        </div>
                    </div>
                </div>




               <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-xs-12">
                            <div class="pull-left"><a href="#" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
                            <div class="pull-left">
                                <!--<ul class="paginationforum">
                                    <li class="hidden-xs"><a href="#" class="active">1</a></li>
                                    <li class="hidden-xs"><a href="#">2</a></li>
                                    <li class="hidden-xs"><a href="#">3</a></li>
                                    <li class="hidden-xs"><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li class="hidden-xs"><a href="#">9</a></li>
                                    <li class="hidden-xs"><a href="#">...</a></li>

                                </ul>-->
                            </div>
                            <div class="pull-left"><a href="#" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>


            </section>

             <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="#"><img src="images/logo.jpg" alt=""  /></a></div>
                        <div class="col-lg-8 col-xs-9 col-sm-5 ">Copyright 2077, Group D</div>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
{% endblock %}