{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - CSUF Web App{% else %}CSUF{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div>CSUF Web App Demo: 
        <a href="/index">Home</a>
        <a href="/login">Login</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
